<ion-header>
    <ion-toolbar>
        <ion-icon class="icon-start" name="cog" slot="start"></ion-icon>
        <ion-avatar slot="end" size="small">
            <img src="/assets/img/lauro.perfil.jpeg" />
        </ion-avatar>
        <ion-label>
            <h2><b>{{nomeUser}}</b></h2>
            <p> Desenvolvedor Web</p>
        </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item class="item-card" lines="none">
        <ion-card>
            <ion-card-header (click)="showScreen('perfil-pessoal')">
                <!-- <ion-button color="dark" [routerLink]="['/detalhes',ordem.id,ordem.equipamento]"> -->

                <ion-icon class="icon-card" src="assets/icon/perfil-pessoal.svg"></ion-icon>
                <ion-card-subtitle>Editar Perfil Pessoal</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
        <ion-card>
            <ion-card-header routerLink="/perfil-profissional">
                <ion-icon class="icon-card" src="assets/icon/perfil-profissional2.svg"></ion-icon>
                <ion-card-subtitle>Editar Perfil Profissional</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-item>
    <ion-item class="item-card" lines="none">
        <ion-card>
            <ion-card-header routerLink="/dados-financeiros">
                <ion-icon class="icon-card" src="assets/icon/bancario2.svg"></ion-icon>
                <ion-card-subtitle> Editar Dados Financeiros</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-item>


</ion-content>


<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/inicial">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button>
            <ion-icon name="document-text"></ion-icon>
            <ion-label>Relatórios</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logOut()">
            <ion-icon class="icon-card" src="assets/icon/exit.svg"></ion-icon>
            <ion-label>Sair</ion-label>
        </ion-tab-button>
        <ion-tab-button>
            <ion-icon name="mail"></ion-icon>
            <ion-label>Mensagem</ion-label>
            <ion-badge>6</ion-badge>
        </ion-tab-button>
        <ion-tab-button>
            <ion-icon name="layers"></ion-icon>
            <ion-label>Atalização</ion-label>
            <ion-badge>6</ion-badge>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>