<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-avatar slot="end" size="small" color="primary">
            <ion-icon class="icon-card" src="assets/icon/bancario2.svg"></ion-icon>
        </ion-avatar>
        <ion-title>
            <b>Dados Finaceiros</b>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>